body{
    margin: 0 100px;
    background-color: greenyellow;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: orangered;
}
.nav .logo b{
    color: brown;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
}

.nav ul .active::before{
    content: '';
    width: 50%;
    height: 3px;
    background-color: tomato;
    display: flex;
    position: relative;
    margin-left: 10px;

}
input{
padding: 15px;
cursor: pointer;
font-weight: 600;
}
.signin{
    padding: 15px;
    cursor: pointer;
    font-weight: 800;
    background: transparent;
    border: none;
}
.signup{
    
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    background-color: chocolate;
    outline: none;
    border: none;
    border-radius: 15px;
}
.content-left button{
    background-color: chocolate;
    cursor: pointer;
    border-radius: 5px;
    width: 160px;
    font-weight: 600;
    padding: 15px;

}
 .content .content-right img{
    width: 500px;
    height: 400px;
    position: relative;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.food-items{
    display: flex;
    width: 565px;
    height: 565px;
}
.food-items>button {
    background-color: rgb(128, 80, 80);
}
.food-items>button :hover{
    background-color: rgb(250, 13, 13);
}